.ArticleCard {
    width: clamp(250px, 50%, 300px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 2px 4px 2px black;
    gap: 0;
    border: 1px solid black;
    box-sizing: border-box;
    padding-bottom: 12px;
}

.ArticleCard .Divider {
    width: clamp(20%, 30%, 40%);
    border: #ADE237 1px solid;
}

.ArticleCard .CardIcon {
    width: 100%;
}

.ArticleCard .CardTitle {
    padding: 0 25px;
    font-size: clamp(20px, 4vw, 30px); 
    font-weight: 300;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-family: 'Boogaloo', 'Trebuchet MS', sans-serif;
}

.ArticleCard .CardSubtitle {
    padding: 0 25px;
    font-size: clamp(12px, 2vw, 14px);
    margin-bottom: 0;
}

.ArticleCard .CardParagraph {
    padding: 0 25px;
    font-size: clamp(12px, 2vw, 14px);
}

.ArticleCard .CardButton {
    font-size: clamp(14px, 3vw, 18px);
    padding: 0.5em;
    border-radius: 20px;
    border: transparent;
    border: #ADE237 solid 2px;
    color: #ADE237;
    background-color: transparent;
    text-align: center;
}

.ArticleCard .Indicator {
    align-self: flex-end;
    font-size: clamp(20px, 5vw, 30px); 
}

