.Carousel {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 120px 0;
    align-items: center;
    position: relative;
}

.Carousel .CardContainer {
    display: flex;  
    justify-content: center;
    gap: 3rem;
}

.Carousel .SectionTitle {
    font-family: 'Boogaloo', 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: clamp(12px, 6vw, 42px);
}

.Carousel .NavBtn {
    width: clamp(30px, 5vw, 40px);
    font-size: clamp(14px, 2vw, 16px);
    align-self: center;
    background-color: transparent;
    border: 2px solid #999999;
    color: #999999;
    border-radius: 50%;
    line-height: 0;
    transition: ease-out 0.5s;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    aspect-ratio: 1/1;
    position: absolute;
}

.Carousel .PrevBtn {
    left: 10px;
}

.Carousel .NextBtn {
    right: 10px;
}

.Carousel .CarouselItem {
    display: flex;
    justify-content: center;
    flex: 0 0 calc(90% / 3);
    max-width: calc(90% / 3);
    display: flex;
}

.Carousel .IndicatorContainer {
    margin-top: 20px;
}

.Carousel .Indicator {
    color: #cecccc;
    font-size: clamp(14px, 2.2vw, 25px);
    padding: 2px;
}

.Carousel .ActiveIndicator {
    color: #7b7b7b;
}

.Carousel .NavBtn:hover {
    cursor: pointer;
    background-color: #7b7b7b;
    color: #e1e1e1;
    border: 4px solid #7b7b7b;
}


.Carousel .NavBtn:disabled {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
}


@media (max-width:1250px) {
    .Carousel .CardContainer {
        display: flex;  
        justify-content: center;
        gap: 1rem;
    }
}


@media (max-width: 768px) {
    .Carousel .CarouselItem {
        min-width: 200px;
    }

    .Carousel .CardContainer {
        gap: min(8px);
    }
}

@media (max-width: 480px) {
    .Carousel .CarouselItem {
        width: 100%;
    }

    .Carousel .NextBtn {
        right: 35px;
    }

    .Carousel .PrevBtn {
        left: 35px;
    }
}