.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home .PageBanner {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: clamp(10px, 5vw, 50px);
}

.Home .PageBanner .Title {
    color: #F3FAFE;
    text-align: left;
    line-height: 1.1;
}

.Home .PageBanner .Description {
    margin-top: 15px;
    color: #F3FAFE;
    font-size: clamp(16px, 2vw, 18px);
    align-self: flex-start;
    text-align: left;
    width: clamp(365px, 40%, 720px);
}

.Home .PageBanner .Children {
    display: flex;
    align-self: flex-start;
}

.Home .BannerBtn {
font-size: 24px;
}

.Home .AboutSection .Container {
    padding: clamp(1em, 1vw, 3em);
}

.Home .AboutSection .ImgKittens {
    width: 100%;
}

.Home .AboutSection .SectionTitle {
    line-height: 1;
}

.Home .AboutSection .BtnAbout {
    width: 33%;
    text-align: center;
    margin-top: 8px;
}


.Home .DogWithBanner {
    background-image: url('../assets/bone-pattern.svg');
    background-repeat: repeat;
    background-size: contain;
    background-color: #B8E7FB;
    background-origin:content-box;
    justify-content: space-between;
    padding-left: 1em;
    position: relative;
    min-width: 100vw;
    gap: 0;
    justify-content: center;
}

.Home .DogWithBanner .DogBoxImg {
    width: clamp(400px, 70%, 900px);
    position: absolute;
    right: 250px;
    bottom: -40px;
}

.Home .DogWithBanner .Container {
    max-width: 600px;
    margin-left: 0;
}

.Home .DogWithBanner .ContainerL {
    align-items: flex-start;
    text-align: left;
}


.Home .DogWithBanner .ContainerL .SectionTitle {
    margin: 0;
}


.Home .DogWithBanner .ChildrenL {
    width: 95%;
}

.Home .Carousel .BtnOutlined {
    font-size: 14px;
}




@media (max-width:750px) { 
    .Home .AboutSection .Container {
        width: 100%;
    }

    .Home .DogWithBanner {
        flex-direction: row;

    }

    .Home .DogWithBanner .DogBoxImg {
        order: 1;
        left: -80px;
        z-index: 4;
    }

    .Home .DogWithBanner .ContainerL {
        order: 2;
        z-index: 5;
        padding-left: 0;
        margin-left: -150px;
    }
}