.Navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 clamp(1rem, 2vw, 5rem);
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    background-color: #5BC0EB;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.Navbar .NavContent {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

.Navbar .NavLinkContainer {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.Navbar .NavLinkContainer .NavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.3s ease;
    border: 1px solid transparent;
    font-family: 'Boogaloo', 'Trebuchet MS', sans-serif;
    font-weight: 500;
}


.Navbar .NavLinkContainer .NavLink:not(.active):hover {
    background-color: #eb865b;
    border: 1px solid black;

}

.Navbar .NavLinkContainer .NavLink.active {
    border: 1px solid black;
    background-color: #eb865b;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.Navbar .NavAccount {
    display: flex;
    gap: 10px;
}

.Navbar .NavAccount .NavAccountBtn {
    font-size: inherit;
    font-weight: bold;
    padding: 7px 24px;
    border-radius: 20px;
    border: 2px solid #ADE237;
    font-family: 'Boogaloo', 'Trebuchet MS', sans-serif;
    background-color: transparent;
    color: #FFFFFF;
}


.DrawerButton {
    visibility: hidden;
    display: none;
    position: absolute;
    left: 8px;
    top: 5px;
    color: #1e1e1e;
    background-color: transparent;
    font-size: 42px;
    border: transparent;
    cursor: pointer;
}

.DrawerButton:hover {
    cursor: pointer;
    background-color: #57afd4;
}

.Navbar .NavAccount .NavAccountBtn:hover {
    cursor: pointer;
    background-color: #98C92F;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.NavDrawer .DrawerLogo {
    /* align-self: center; */
}

.NavDrawer .NavLinkContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.NavDrawer .NavLinkContainer .NavLink {
    padding-left: 20px;
    font-size: 20px;
    height: 50px;
    color: #707070;
    font-family: 'Boogaloo', 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
}

.NavDrawer .NavLinkContainer .NavLink:hover {
    background-color: #F5F5F5;
}


@media (max-width:950px) {
    .Navbar {
        height: 68px;
    }
    .Navbar .BarContainer {
        display: none;
    }

    .NavAccountBtn {
        display: none;
        visibility: hidden;
    }
    
    .DrawerButton {
        visibility: visible;
        display: block;
    }

    

    .Navbar .NavContent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 45px;
    }

    .NavContent .LogoLinkContainer {
        height: 100%;
        display: flex;
    }
    .NavLogo {
        content: url("../assets/logo-1.svg");
        width: clamp(270px, 100%, 370px);
        /* max-width: 370px; */
        /* width: 70vw; */
        /* width: 68px; */
        /* width: 50%; */
        /* max-height: 68px;
        min-height: 50px;
        width: auto; */
        display: block;
        margin: 0 auto; /* Ensures horizontal centering */
        text-align: center;
    }
    
}