/** FOR TWO DIVS **/
.TwoColumns {
    display: flex;
    max-width: 1200px;
    width: 90%;
    margin: clamp(50px, 10vw, 130px);
}

.TwoColumns .Container {
    width: 50%;
    flex: 1;
    padding: clamp(1.5em, 3vw, 3.5em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TwoColumns .Children {
    display: flex;
    flex-direction: column;
    font-size: clamp(12px, 1.5vw, 16px);
}



@media (max-width:750px) {
    .TwoColumns {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .TwoColumns{
        max-width: 600px;
        width: 80%;
    }
}